.footer {
  padding: 88px 120px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.footer-first {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 36px;
  width: 100%;
  text-align: start;
  margin-bottom: 40px;
}
.footer-first-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-first-card h2 {
  font-size: 24px;
  line-height: 1.35;
  color: #000;
  /* margin-bottom: 10px; */
  font-weight: 500;
  /* padding-right: 25px; */
}
.footer-c {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 30px;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
.footer-c-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    gap: 15px;
    width: 100%;
    margin-bottom: 30px;
}
.footer-c-title span{
    color: #F3B700;
    font-size: 16px;
}
.footer-c-title h2{
    font-size: 34px;
    line-height: 1.2;
    color: #000;
    font-weight: 500;
}
.footer-c-c{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer-c-l{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    /* flex-shrink: 0; */
}
.footer-c-l ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-c-l ul li{
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 14px;
    padding: 5px 8px;
    line-height: 1.4;
    border-radius: 4px;
    margin-bottom: 4px;
    /* display: inline-block; */
    font-weight: 500;
    color: #000;
    margin-top: 4px;
    text-transform: capitalize;
}
.footer-c-l h4{
    line-height: 1.35;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.footer-c-l p{
    font-size: 110px;
    font-weight: 100;
    /* line-height: 1; */
    text-align: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    display: inline-block;
}
.footer-c-r{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-c-img{
    text-align: center;
    margin-top: -140px;
    max-width: 300px;
}
.footer-c-img img{
        width: 100%;
    animation: move2 4s infinite;
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.footer-c-buy{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}
.footer-c-buy a{
    position: relative;
    font-size: 35px;
    gap: 10px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 8px 20px;
    background-color: #F3B700;
    color: #ffffff;
    outline: none;
    text-decoration: none;
    transition: 0.2s;
}
.footer-c-buy a span{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}
.footer-bottom{
    background-color: #f5f5f5;
    color: #777;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    width: 100%;
}
@media (max-width: 1200px) {
  .footer {
    padding: 80px 80px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    justify-content: space-between;
    padding-top: 40px;
  }
  .footer-c-r{
    justify-content: flex-end;
  }
  .footer-c-img{
    display: none;
  }
  .footer-first {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-first-card {
    gap: 0;
  }
}
@media (max-width: 992px) {
  .footer {
    padding: 50px 50px;
  }
  .footer-c-r{
    justify-content: space-between;
  }
  .footer-c-img{
    display: flex;
    margin: 0;
  }
  .footer-c-c{
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 50px 30px;
  }
}
@media(max-width:576px){
    .footer-c-l h4,
    .footer-c-l p{
        display: none;
    }
}
@media (max-width: 480px) {
  .footer-first {
    grid-template-columns: repeat(1, 1fr);
  }
}
